*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.audiobox{
    width: 50%;
    height: 50px;
	border: 1px solid goldenrod;
    margin: auto ;

}